<section class="grid">

    <div class="box">
       <h3>Acceso Rápido</h3>
       <a href="/"> <i class="fa-solid fa-circle-chevron-right"></i> Inicio</a>
       <a href="/productos"> <i class="fa-solid fa-circle-chevron-right"></i> Productos</a>
       <a href="#"> <i class="fa-solid fa-circle-chevron-right"></i> Contactanos</a>
    </div>

    <div class="box">
       <h3>Links Utiles</h3>
       <a href="/login"> <i class="fa-solid fa-circle-chevron-right"></i> Login</a>
       <a href="/register"> <i class="fa-solid fa-circle-chevron-right"></i> Registro</a>
       <a href="#"> <i class="fa-solid fa-circle-chevron-right"></i> Carrito</a>
    </div>

    <div class="box">
       <h3>Contáctanos</h3>
       <a href="tel:1234567890"><i class="fas fa-phone"></i> +123 456 78910</a>
       <a href="mailto:hola@chau.com"><i class="fas fa-envelope"></i> krabby@gmail.com</a>
       <a href="#"><i class="fas fa-map-marker-alt"></i> CABA - Argentina </a>
    </div>

    <div class="box">
       <h3>Síguenos</h3>
       <a href="#"><i class="fa-brands fa-github"></i>Github</a>
       <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
       <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
    </div>

 </section>

 <div class="credit">&copy; Copyright by <span style="font-weight:bold">Krabby Store</span> | all rights reserved.</div>