<header class="header">
    <section class="flex">
        <a href="/" class="logo">
            <img src="/img/logo.svg" alt="logo"/>
            <span>
            </span>
        </a>
        <nav class="navbar">
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="">Nosotros</a>
            <a href="">Contacto</a>
        </nav>
        <div class="iconos">
            <a href="/buscar"><i class="fas fa-search"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href=""><i class="fas fa-shopping-cart"></i><span></span></a>
            <a href="/login"><div id="user-btn" class="fas fa-user"></div></a>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>
    </section>
</header>