<header>
    <div class="container">
        <nav>
            <a class="menu" href="">
                <div class="bars_menu">
                    <span class="linea1_bars-menu"></span>
                    <span class="linea2_bars-menu"></span>
                    <span class="linea3_bars-menu"></span>
                </div>
            </a>
            <a class="logo" href="/">
                <img src="/img/logo.png" alt="logo">
            </a>
            <div class="boton_carrito">
                <a href="/Carrito"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </nav>
    </div>
</header>