<nav>
    <ul class='nav-bar'>
        <li class='logo'><a href='/'><img src='/img/logo.png'/></a></li>
        <input type='checkbox' id='check' />
        <span class="menu">
            <li>
                <a href="/users/login" >
                    <i class="fas fa-user-circle"></i>
                    Iniciar sesión
                </a>
            </li>
            <li>
                <a href="/users/register" >
                    <i class="fas fa-user-circle"></i>
                    Registrarse
                </a>
            </li>
            <li>
                <a href="/carrito/productCart">
                    <i class="fas fa-shopping-bag"></i>
                    Carrito
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-heart"></i>
                    Favoritos
                </a>
            </li>
            <li>
                <a href="/productos/crear" >
                    <i class="fas fa-user-circle"></i>
                    Vender
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-history"></i>
                    Historial
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tag"></i>
                    Ofertas
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-envelope"></i>
                    Contactanos
                </a>
            </li>
            <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
        </span>
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
</nav>