<% for (let p of productos) {%> 
    <div class="product">
        <a href="/productos/detalleProducto/<%= p.id %>">
            <picture>
                <img src="../imagenes/<%= p.imagen %>" alt="">
            </picture>
        </a>
        <div class="detail">
            <p>
                <b><%= p.nombre %></b><br>
                <small>New arrival</small>
            </p>
            <samp>$<%= p.precio %></samp>
        </div>
        <div class="button">
            <p class="star">
                <strong><i class="fas fa-heart"></i></strong>
            </p>
            <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
    <%}%>



<!-- <div class="product">
    <a href="/productos/detalle">
        <picture>
            <img src="../imagenes/airpods.jpg" alt="">
        </picture>
    </a>
    <div class="detail">
        <p>
            <b>Product Uno</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <a href="/productos/detalle">
        <picture>
            <img src="../imagenes/celular.jpg" alt="">
        </picture>
    </a>
    <div class="detail">
        <p>
            <b>Product Two</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star"><i class="fas fa-heart"></i>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <a href="/detalle-producto">
        <picture>
            <img src="../imagenes/ipad.jpg" alt="">
        </picture>
    </a>
    <div class="detail">
        <p>
            <b>Product Three</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <a href="/detalle-producto">
        <picture>
            <img src="../imagenes/cámara.jpg" alt="">
        </picture>
    </a>
    <div class="detail">
        <p>
            <b>Product Four</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/watch.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Five</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/delta.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Six</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/image3.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Seven</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/image2.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Eight</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong>&star;</strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/nokia.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Nine</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/nokia-air.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Ten</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/feature_3.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Eleven</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div>
<div class="product">
    <picture>
        <img src="image/one.png" alt="">
    </picture>
    <div class="detail">
        <p>
            <b>Product Twelve</b><br>
            <small>New arrival</small>
        </p>
        <samp>$45.00</samp>
    </div>
    <div class="button">
        <p class="star">
            <strong><i class="fas fa-heart"></i></strong>
        </p>
        <a href="#" class="añadirCarrito"><i class="fas fa-shopping-bag"></i></a>
    </div>
</div> -->