<section class="category">
  <h1 class="heading">CATEGORIAS</h1>

  <div class="swiper category-slider">
    <div class="swiper-wrapper">
      <a href="#" class="swiper-slide slide">
        <img src="img/icon-1.png" alt="" />
        <h3>Notebook</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-pc.png" alt="" />
        <h3>PC Armada</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/video-card.png" alt="" />
        <h3>Placa de video</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/ram.png" alt="" />
        <h3>RAM</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/cpu.png" alt="" />
        <h3>CPU</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-4.png" alt="" />
        <h3>Mouse</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-keyb.png" alt="" />
        <h3>Teclados</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-headset.png" alt="" />
        <h3>Auriculares</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-7.png" alt="" />
        <h3>Smartphone</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/tv.png" alt="" />
        <h3>TV</h3>
      </a>

      <a href="#" class="swiper-slide slide">
        <img src="img/icon-8.png" alt="" />
        <h3>Smartwatch</h3>
      </a>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
