<div class="home-bg">
  <section class="home">
    <div class="swiper home-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-img-container">
            <img src="img/pc-png.png" alt="" />
            <div class="content">
              <span>Hasta un 10% en PC's armadas</span>
              <h3>Lo último en PC</h3>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img-container">
            <img src="img/home-img-1.png" alt="" />
            <div class="content">
              <span>Hasta un 20% en Smartphones</span>
              <h3>Lo último en Smartphones</h3>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img-container">
            <img src="img/home-img-3.png" alt="" />
            <div class="content">
              <span>Hasta un 40% en headsets</span>
              <h3>Lo último en headsets</h3>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img-container">
            <img src="img/smartwatch.png" alt="" />
            <div class="content">
              <span>Hasta un 15% en smartwatch</span>
              <h3>Lo último en smartwatch</h3>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      -->
      <div class="swiper-pagination"></div>
    </div>
  </section>
</div>
