<footer>
    <div class="container_footer">
        <a href="#"><i class="fas fa-address-card"></i>Sobre Nosotros</a>
        <a href="#"><i class="fas fa-headset"></i>Ayuda</a>
        <a href="#"><i class="fas fa-truck"></i>Envios</a>
        <a href="#"><i class="fas fa-credit-card"></i>Medios de pago</a>
    </div>
</footer>