<nav>
    <ul class='nav-bar'>
        <li class='logo'><a href='/'><img src='/img/logo.png'/></a></li>
        <input type='checkbox' id='check' />
        <span class="menu">
            <% if (locals.isLogged) {%>
                <li>
                    <a href="/users/editar/<%= locals.usuarioLogueado.id_user%> ">
                        <!-- <i class="fas fa-heart"></i> -->
                        <!--<img src="/imagenes/<%= locals.usuarioLogueado.imagen%> " width="20px" style="border-radius: 100%" alt="">
                        -->
                        <span>
                            Hola <%= locals.usuarioLogueado.nombre%>
                        </span>
                    </a>
                </li>
<li>
        <a href="/users/logout/">Cerrar Sesion</a>

</li>
                <li>
                    <a href="/productos/crear" >
                        <i class="fas fa-user-circle"></i>
                        Vender
                    </a>
                </li>

                <li>
                    <a href="/carrito/productCart">
                        <i class="fas fa-shopping-bag"></i>
                        Carrito
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                        Contactanos
                    </a>
                </li>
                
                <% } else { %>
            <li>
                <a href="/users/login" >
                    <i class="fas fa-user-circle"></i>
                    Iniciar sesión
                </a>
            </li>

            <li>
                <a href="/users/register" >
                    <i class="fas fa-user-circle"></i>
                    Registrarse
                </a>
            </li>
            <% } %>
            <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
        </span>
        <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
</nav>