<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Krabby Store</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="bars_menu">
                    <span class="line1_bars-menu"></span>
                    <span class="line2_bars-menu"></span>
                    <span class="line3_bars-menu"></span>
                </div>
                <a class="logo" href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
                <div class="boton_carrito">
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="slogans"><h1>Krabby Store</h1>. La mejor manera de obtener los productos que amas.</div>
        <div class="cat_productos">
            <nav>

            </nav>
        </div>
        <section>
            <article>
                <div class="slogans"><h1>Último.</h1> Echa un vistazo a las novedades.</div>
                <div class="productos">
                    <h3 class="product_name">Producto</h3>
                    <h4 class="descripcion">Descripcion</h4>
                    <h5 class="precio">Precio</h5>
                </div>
            </article>
            <article>
                <div class="slogans"><h1>Te recomendamos.</h1> Según lo último que viste.</div>
            </article>
            <article>
                <div class="slogans"><h1>Ofertas.</h1> Los mejores productos al mejor precio.</div>
            </article>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>