<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head.ejs") %>
</head>
<body>
   <%- include("./partials/header.ejs") %>

   <main class="login-main">
    <section class="form-container">

        <form action="" method="post">
           <h3>login</h3>
           <input type="email" name="email" required placeholder="Introduce tu email" maxlength="50"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="pass" required placeholder="Introduce tu contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="submit" value="LOGIN" class="btn" name="submit">
           <p>No tienes una cuenta?</p>
           <a href="/register" class="option-btn">REGÍSTRARSE</a>
        </form>
   </main>
   
   <footer class="footer">
      <%- include("./partials/footer.ejs") %>
   </footer>
</body>
</html>