<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>

    </header>
  <main>
        <div>
            <p>Iniciar sesión</p>
            <form action="/login" method="post"></form>
            
            <input type="email" placeholder="Email">
            <br>
            <input type="password" placeholder="Contraseña">
            <br>
            <a href="/pass">¿Olvidaste tu contraseña?</a>
            <br>
            <button type="submit"> Log in</button>
            <br>
            <a href="/register">Crear cuenta</a>
        </div>

  </main>  
  <footer>


  </footer>
</body>
</html>