<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
  <main>
        <div>
            <p>Crea una nueva contraseña</p>
            <p>Ingresa tu dirección de correo electrónico</p>
            <form action="/pass" method="post"></form>
            
            <input type="email" placeholder="Email">
            <br>
            <button type="submit">Crear Contraseña</button>
            <br>
        </div>

  </main>  
  <footer>


  </footer>
</body>
</html>