<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle del Producto</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="bars_menu">
                    <span class="line1_bars-menu"></span>
                    <span class="line2_bars-menu"></span>
                    <span class="line3_bars-menu"></span>
                </div>
                <a class="logo" href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
                <div class="boton_carrito">
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <section>
        <br>
        <br>
        <div class="detalle">
            <div class="centrar">
                <img  src="/imagenes/airpods.jpg" alt="imagen de airpods">
            </div>
            <div class="centrar">
                <h3> AirPods </h3>
                <br>
                <span class="precio">$217.50</span>
                <span class="info-envio">0% OFF</span>
                <br>
                <p class="info-envio">1 Cuota</p>
                <br>
                <h6>Información de envío:</h6>
                <p class="info-envio">Si lo pides en 24 horas lo estarás recibiendo en máximo tres días</p>
                <br>
                <form action="resultado.html" method="POST">
                    <select name="cantidad" class="cajon-cantidad">
                        <option name="cantidad" value=1>Cantidad:1</option>
                        <option name="cantidad" value=2>Cantidad:2</option>
                        <option name="cantidad" value=3>Cantidad:3</option>
                        <option name="cantidad" value=4>Cantidad:4</option>
                        <option name="cantidad" value=5>Cantidad:5</option>
                        <option name="cantidad" value=6>Cantidad:6</option>
                        <option name="cantidad" value=7>Cantidad:7</option>
                        <option name="cantidad" value=8>Cantidad:8</option>
                        <option name="cantidad" value=9>Cantidad:9</option>
                        <option name="cantidad" value=10>Cantidad:10</option>
                    </select>
                    <br>
                    <br>
                    <button type="submit" class="boton-producto"> Comprar</button>
                    <br>
                    <button type="submit" class="boton-producto"> Agregar al carrito</button>
                </form>
            </div>
        </div>
    </section>
    <br>
    <section>
            <h3 class="caracteristicas">Características del Producto</h3>
            <br>
        <div>
            <p class="descripcion">Auriculares inalámbricos, resistentes al agua con una duración de 6 horas de carga podrás contestar llamadas
            mientras escuchas música sin tener que cambiar de dispositivo, te permiten presionarlos para pausar o
                reproducir.</p>
        </div>
    </section>
    <footer>
        <div class="container_footer">
            <a href="#"><i class="fas fa-address-card"></i>Sobre Nosotros</a>
            <a href="#"><i class="fas fa-headset"></i>Ayuda</a>
            <a href="#"><i class="fas fa-truck"></i>Envios</a>
            <a href="#"><i class="fas fa-credit-card"></i>Medios de pago</a>
        </div>
    </footer>
</body>

</html>