<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

<body>
    <%- include("./partials/headerHome")  %> 
    <main>
        <div class="Registro">
            <h1>Editar Productos</h1>
            <br>
            <form action="/" method="post">
            <input type="text" placeholder="¿Cuál producto quieres modificar? (pon el ID)">
                <br>
            <input type="text" placeholder="nombre">
            <br>
            <input type="text" placeholder="precio">
            <br>
            <button type="submit" class="boton"> Seleccionar Imagen</button>
            <br>
            <input type="text" placeholder="caracteristicas">
            <br>
            <button type="submit" class="boton"> Modificar</button>
        </form>
        </div>

  </main>  
  <%- include("./partials/footer") %>
</body>

</html>


