<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>


<body>

<%- include("./partials/headerHome")  %> 
    


    <h1>Carrito de Compra</h1>
    <h3>Articulos recientemente agrega al carrito:</h3>
    <main class="carrito">
        <div class="productoC">
            <table class="table table-responsive-md mb-0">
                <thead>
                    <tr>
                        <th style="width: 50px;">
                            <strong>#</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Producto</strong>
                        </th>
                        <th class="th-lg ">
                            <strong>Precio</strong>
                        </th>
                        <th class="text-center">
                            <strong>Cantidad</strong>
                        </th>
                        <th class="text-center">
                            <strong>Subtotal</strong>
                        </th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody class="carritotabla">
                </tbody>
            </table>
        </div>
        <div class="card-footer text-right">
            
        </div>

    </div>
    <form class="carritopago" id="carritopago">
        <div class="carritoform">
            <div class="carritoform2">
                <label for="envio">Tipo Envio</label>
                <select class="metodode}envio" id="metododeenvio" name=" metododeenvio"
                    required="">
                    <option value="">Elegir...</option>
                    <option value="Cadete">Cadete</option>
                    <option value="Correo">Correo Argentino</option>
                    <option value="Andreani">Andreani</option>
                    <option value="DHL">DHL</option>
                </select>
                <div class="invalidarespuesta">
                    Elija un tipo de envio.
                </div>

            </div>
            <div class=" carritoform2">
                <label for="pago">Pago</label>
                <select class="metododepago" id="metododepago" name="metododepago"
                    required="">
                    <option value="">Elegir...</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Débito">Tarjeta Débito</option>
                    <option value="Crédito">Tarjeta Crédito</option>
                </select>
                <div class="invalidarespuesta">
                    Elija un tipo de envio.
                </div>
       

       

      
    
        <div class="finalCompra">
           
            <br>
            <h4>Total: <span class="totalmonto">$ 0</span></h4>
            <button type="submit" class="boton-producto">COMPRAR</button>
            <button type="submit" class="boton-producto"> seguir comprando</button>
           

        </div>
        
    
    </main>
    <%- include("./partials/footer") %> 
   
</body>
<script src="/scripts/formcart.js"></script>

</html>