<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesOtro.css">
    <title>Detalle del Producto</title>
</head>

<body>
    <header>

    </header>
    <section>
        <div class="detalle">
            <div>
                <img src="/imagenes/airpods.jpg" alt="imagen de airpods">
            </div>
            <div>
                <h3> AirPods </h3>
                <br>
                <span class="precio">$217.50</span>
                <span>0% OFF</span>
                <br>
                <p>1 Cuota</p>
                <br>
                <h6>Información de Envío</h6>
                <br>
                <h8>Si lo pides en 24 horas lo estarás recibiendo en máximo tres días</h8>
                <br>
                <form action="resultado.html" method="POST">
                    <select name="cantidad">
                        <option name="cantidad" value=1>Cantidad:1</option>
                        <option name="cantidad" value=2>Cantidad:2</option>
                        <option name="cantidad" value=3>Cantidad:3</option>
                        <option name="cantidad" value=4>Cantidad:4</option>
                        <option name="cantidad" value=5>Cantidad:5</option>
                        <option name="cantidad" value=6>Cantidad:6</option>
                        <option name="cantidad" value=7>Cantidad:7</option>
                        <option name="cantidad" value=8>Cantidad:8</option>
                        <option name="cantidad" value=9>Cantidad:9</option>
                        <option name="cantidad" value=10>Cantidad:10</option>
                    </select>
                    <br>
                    <button type="submit" class="boton-producto"> Comprar</button>
                    <br>
                    <button type="submit" class="boton-producto"> Agregar al carrito</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <label>Características del Producto</label>
        <p>Auriculares inalámbricos, resistentes al agua con una duración de 6 horas de carga podrás contestar llamadas
            mientras escuchas música sin tener que cambiar de dispositivo, te permiten presionarlos para pausar o
            reproducir.</p>

    </section>
    <footer>

    </footer>
</body>

</html>