<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head.ejs") %>
</head>
<body>
   <%- include("./partials/header.ejs") %>

   <main class="register-main">
    <section class="form-container">

        <form action="" method="post">
           <h3>REGISTRARSE</h3>
           <input type="text" name="name" required placeholder="Introduce tu nombre de usuario" maxlength="20"  class="box">
           <input type="email" name="email" required placeholder="Introduce tu email" maxlength="50"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="pass" required placeholder="Introduce tu contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="cpass" required placeholder="Confirma tu contraseña" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="submit" value="REGISTRARSE" class="btn" name="submit">
           <p>Ya tienes una cuenta?</p>
           <a href="/login" class="option-btn">LOGIN</a>
        </form>
   </main>
   
   <footer class="footer">
      <%- include("./partials/footer.ejs") %>
   </footer>
</body>
</html>