*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

body{
    background-color: #fafbfc;
    
}

div.container nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
.logo img{
    height: 33px;
    margin-top: 8px;
}

.boton_carrito{
    color: gray;
    font-size: 22px;
    margin-right: 8px;
    margin-top: 8px;
}
nav .menu{
    margin-top: 8px;
}
.bars_menu{
    width: 23px;
    height: 23px;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}
.bars_menu span{
    display:block;
    width: 100%;
    height: 2px;
    background: gray;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}
/*
.bars_menu:active .linea1_bars-menu{
    transform: rotate(45deg);
}

.bars_menu:active .linea2_bars-menu{
    opacity: 0;
    margin-left: -30px
}

.bars_menu:active .linea3_bars-menu{
    transform: rotate(-45deg);
}
*/

.pass,
.login,
.Registro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    margin-left: 25%;
    padding:0 auto;
    width: 50vw ;
    height: 60vh;
    
}

form input {
    width: 50vw ;
    margin: 3px;
    margin: 1%;
}
.boton {
    background-color: black;
    color: white;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
    border-radius: 4px;

}
form button {

    background-color: black;
    color: white;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
    border-radius: 4px;
    width: 50vw ;
    margin: 1%;

}
h1 {
    text-align: center;
}

.detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centrar {
    align-self: center
}
.precio {
    font-size: 30px;
    font-weight: bold;
}
.boton-producto {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 25px;
    font-size: 10px;
    margin: 1px;
    border-radius: 10%;
    transition:
        backgound-color, 0.5 s;
}

.boton-producto:hover{
    background-color: grey;
}
.info-envio {
    width: 100px;
    font-size: 10px;
}

.cajon-cantidad {
    width:200px;
    border-radius: 10%;
    font-size: 10px
}

.caracteristicas {
    margin-left: 5%;
}

.descripcion {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 80%
}

@media (min-width:361px){
    .detalle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    };
    .centrar {
        align-self: auto;
    }
    .caracteristicas {
        margin-left: 20%;
    }
    
    .descripcion {
        text-align: justify;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 80%
    }
    .carrito{
     
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
    .productoC {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 25px 5px;
        padding: 10px 0px;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    
    };
    .finalCompra {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
      
    }

    .envioTitle{
        margin-bottom: 20px;
        font-size: 2rem;
    }
    
    .addressFinal{
        font-style: italic;
        text-decoration: underline;
    }
    .precioFinal{
        margin: 20px;
        font-size: 3rem;
    }

}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    margin-top: 5%
}
.container_footer a i{
    margin-right: 10px;
}
.container_footer a:hover i{
    transition: .5s;
    transform: rotate(360deg);
    
}
.container_footer a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.container_footer a:hover{
    transition: .5s;
    color: white;}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pass input,
.login input,
.Registro input {
    border-radius: 4px;
    padding: 10px;
    /* border-style: unset; */
    border-color: grey;
}

.carrito {
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;

}
.finalCompra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

