*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
    font-size: 62.5%;
}
body{
    position:relative;
    height: 100%;
}

/*HEADER*/
section{
    padding: 2rem;
    max-width: 1200px;
    margin:0 auto;
}
.header{
    position:sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/*LOGO*/
    .header .flex .logo{
        display: flex;
        font-size: 2.5rem;
        font-weight:bold;
        color: black;
        align-items: center;
    }

    .header .flex .logo span{
        padding: 5px;
    }

    .header .flex .logo img{
        object-fit:cover;
        width: 40px;
        height: 40px;
    }

    .header .flex .logo:hover{
        transition: .25s;
    }
/*FIN LOGO*/

/*NAVBAR ESCRITORIO*/
    .header .flex .navbar a{
        margin:0 1rem;
        font-size: 2rem;
        color:black;
        text-decoration: none
    }
    .header .flex .navbar a:hover{
        transition: .25s;
        color:cadetblue;
    }
/*FIN NAVBAR ESCRITORIO*/

/*ICONOS DERECHA*/
    .header .flex .iconos > *{
        margin-left: 1rem;
        font-size: 2.5rem;
        cursor: pointer;
        color:black;
    }
    .header .flex .iconos > *:hover{
        transition: .15s;
        color:cadetblue;
    }
    .header .flex .iconos #menu-btn{
        display:none
    }
/*FIN ICONOS DERECHA*/

 @media screen and (max-width: 785px ){
    .navbar{
        display:none;
    }
    .header .flex .iconos #menu-btn{
        display:inline-block
    }

 }
/*FIN HEADER*/

/*BARRA DE BUSQUEDA*/
.search-form form{
    display: flex;
    gap:1rem;
 }
 
 .search-form form input{
    width: 100%;
    border:.2rem solid black;
    border-radius: .5rem;
    background-color:white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1.4rem;
    font-size: 1.8rem;
    color:black;
 }
 
 .search-form form button{
    font-size: 2.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    background-color: black;
    cursor: pointer;
    color:white;
    border-radius: .5rem;
    width: 6rem;
    text-align: center;
 }
 
 .search-form form button:hover{
    background-color: cadetblue;
 }
/*FIN BARRA DE BUSQUEDA*/

/*LOGIN*/
.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:black;
   cursor: pointer;
   text-align: center;
}
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: black;
}

.btn{
   background-color:cadetblue;
   color: white;
   font-weight: bold;
}

.option-btn{
   background-color:  rgb(118, 162, 177);
   font-weight: bold;
   color: white;
   border:.2rem solid black;
}

.delete-btn{
   background-color: red;
}

.form-container{
    height: 100vh;
    min-height: 100%;
}
.form-container form{
    background-color: white;
    padding:2rem;
    border-radius: .5rem;
    border:.2rem solid black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    margin:0 auto;
    max-width: 60rem;
    margin-top:10%;
 }
 
 .form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:black;
 }
 
 .form-container form p{
    font-size: 2rem;
    color:gray;
    margin:1.5rem 0;
 }
 
 .form-container form .box{
    margin:1rem 0;
    background-color: white;
    padding:1.4rem;
    font-size: 1.8rem;
    color:black;  
    width: 100%;
    border-radius: .5rem;
 }
/*FIN LOGIN*/

/*HOME*/
    /*HOME-SLIDER*/
    .home-bg{
        background:url(../img/gradiente.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 5rem;
    }
    .home-bg .home .swiper {
        width: 100%;
        height: 52rem;
        
      }

      .home-bg .home .swiper-slide {
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
      }
      .home-bg .home .slide-img-container{
        display: flex;
        align-items: center;
    }
      @media (max-width:768px){
        .home-bg .home .slide-img-container{display: block;}
        .home-bg .home .content{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
      }
      .home-bg .home .swiper-slide img {
        display: block;
        width: 100%;
        height: 40rem;
        object-fit: contain;
      }

      .home-bg .home .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      /*HOME-SLIDER*/
      
    /*CATEGORIAS*/
        /*TITULO CATEGORIA*/
        .heading{
            font-size: 2.5rem;
            color:black;
            margin-bottom: 2rem;
            text-align: center;
            text-transform: uppercase;
        }
        /*FIN TITULO CATEGORIA*/

        /*SLIDER CATEGORIA*/
        .category .slide{
            margin-bottom: 5rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
            border:.2rem solid black;
            text-align: center;
            padding:2rem;
            background: white;
            border-radius: .5rem;
         }

         .category .slide:hover{
            background-color: rgb(46, 45, 45);
         }
         
         .category .slide:hover img{
            filter:invert();
         }
         
         .category .slide:hover h3{
            color:white;
         }
         
         .category .slide img{
            height: 7rem;
            width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
            user-select: none;
         }
         
         .category .slide h3{
            font-size: 2vh;
            color:black;
            user-select: none;
         }
        /*FIN SLIDER CATEGORIA*/
    /*FIN CATEGORIAS*/

        /*SLIDER NOVEDADES*/
 
       .latest .swiper-slide {
         position: relative;
         margin-bottom: 5rem;
         padding: 2rem;
         border-radius: .5rem;
         overflow: hidden;
         text-align: center;
         font-size: 18px;
         background: #fff;
         border:.2rem solid black;
         box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
       }
 
       .latest .swiper-slide img {
         width: 100%;
         height: 20rem;
         object-fit: contain;
         margin-bottom: 2rem;
       }
       .latest .swiper-slide .flex{
         display:flex;
         justify-content: space-between;
         align-items: center;
       }
       .latest .swiper-slide .flex .cant{
         width: 7rem;
         padding: 1rem;
         border:.2rem solid black;
         border-radius: .5rem;
       }

       .latest .swiper-slide .flex a.añadirCarrito{
         text-decoration: none;
         color: black;
         font-size: 25px;
       }
       .latest .swiper-slide .flex a.añadirCarrito:hover{
         color: cadetblue;
       }
       .latest .swiper-slide .flex a.añadirCarrito i{
         padding-top: 5px;
         padding-right: 5px;
       }
        /*FIN SLIDER NOVEDADES*/

        /*SLIDER OFERTAS*/
 
       .offer .swiper-slide {
        position: relative;
        margin-bottom: 5rem;
        padding: 2rem;
        border-radius: .5rem;
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        background: #fff;
        border:.2rem solid black;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      }

      .offer .swiper-slide img {
        width: 100%;
        height: 20rem;
        object-fit: contain;
        margin-bottom: 2rem;
      }
      .offer .swiper-slide .flex{
        display:flex;
        justify-content: space-between;
        align-items: center;
      }
      .offer .swiper-slide .flex .cant{
        width: 7rem;
        padding: 1rem;
        border:.2rem solid black;
        border-radius: .5rem;
      }
       /*FIN SLIDER OFERTAS*/

/*FIN HOME*/

/*PRODUCTOS*/
section.products{
    margin-bottom: 10%;
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .products .box-container .box{
    position: relative;
    background-color:white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.2rem solid black;
    padding:2rem;
    overflow: hidden;
 }
 
 .products .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .products .box-container .box .fa-heart,
 .products .box-container .box .fa-eye{
    position: absolute;
    top:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    font-size: 2rem;
    background-color: white;
    border:.2rem solid black;
    border-radius: .5rem;
    text-align: center;
    color:black;
    cursor: pointer;
    transition: .2s linear;
 }
 
 .products .box-container .box .fa-heart{
    right: -6rem;
 }
 
 .products .box-container .box .fa-eye{
    left: -6rem;
 }
 
 .products .box-container .box .fa-heart:hover,
 .products .box-container .box .fa-eye:hover{
    background-color: black;
    color:white;
 }
 
 .products .box-container .box:hover .fa-heart{
    right:1rem;
 }
 
 .products .box-container .box:hover .fa-eye{
    left:1rem;
 }
 
 .products .box-container .box .name{
    font-size: 2rem;
    color:black;
 }
 
 .products .box-container .box .flex{
    display: flex;
    align-items: center;
    gap:1rem;
 }
 
 .products .box-container .box .flex .qty{
    width: 7rem;
    padding:1rem;
    border:.2rem solid black;
    font-size: 1.8rem;
    color:black;
    border-radius: .5rem;
 }
 
 .products .box-container .box .flex .price{
    font-size: 2rem;
    color:red;
    margin-right: auto;
 }
/*FIN PRODUCTOS*/

/*FOOTER*/
.footer{
    background-color: whitesmoke;
    /* padding-bottom: 7rem; */
 }
 
 .footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .footer .grid .box h3{
    font-size: 2rem;
    color:black;
    margin-bottom: 2rem;
    text-transform: capitalize;
 }
 
 .footer .grid .box a{
    display: block;
    margin:1.5rem 0;
    font-size: 1.7rem;
    color:#666;
 }
 
 .footer .grid .box a i{
    padding-right: 1rem;
    color:black;
    transition: .2s linear;
 }
 
 .footer .grid .box a:hover{
    color:cadetblue;
 }
 
 .footer .grid .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding: 2.5rem 2rem;
    border-top: .2rem solid black;
    font-size: 2rem;
    color:black;
 }
 
 .footer .credit span{
    color:cadetblue;
 }
 
/*FIN FOOTER*/

