<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Detalle del Producto</title>
    </head>
    <body>
        <header>

        </header>
        <section>
            <img width="320" height="560" src="imagenes/airpods.jpg" alt="imagen de airpods">
            <label> AirPods </label>
            <label>$217.50</label>
            <label>0% OFF</label>
            <label>1 Cuota</label>
            <label>Información de Envío</label>
            <p>Si lo pides en 24 horas lo estarás recibiendo en máximo tres días</p>
            <form action="resultado.html" method="POST">
                <select name="cantidad">
                  <option name="cantidad" value=1>Cantidad:1</option>
                  <option name="cantidad" value=2>Cantidad:2</option>
                  <option name="cantidad" value=3>Cantidad:3</option>
                  <option name="cantidad" value=4>Cantidad:4</option>
                  <option name="cantidad" value=5>Cantidad:5</option>
                  <option name="cantidad" value=6>Cantidad:6</option>
                  <option name="cantidad" value=7>Cantidad:7</option>
                  <option name="cantidad" value=8>Cantidad:8</option>
                  <option name="cantidad" value=9>Cantidad:9</option>
                  <option name="cantidad" value=10>Cantidad:10</option>
                </select>
                <input type="submit" value="Comprar">
                <input type="submit" value="Agregar al carrito">
            </form>
        </section>
        <section>
            <label>Características del Producto</label>
            <p>Auriculares inalámbricos, resistentes al agua con una duración de 6 horas de carga podrás contestar llamadas mientras escuchas música sin tener que cambiar de dispositivo, te permiten presionarlos para pausar o reproducir.</p>
            
        </section>
        <footer>

        </footer>
    </body>
 </html>